* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  margin: 10px;
  border: 5px solid #551e53;
  padding: 10px;
  border-radius: 10px;
  height: 98vh;
}

.image-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-image-container {
  display: flex;
  justify-content: center;
}

.component-image {
  max-width: 70%;
}

.component-heading {
  text-align: center;
}

.component-heading {
  margin-top: 50px;
  color: #6d396b;
}

.component-paragraph {
  color: #6d396b;
}

.not-found-image {
  width: 50%;
}
